body{
    margin:0;
    padding:0;
}
/* Widgets */
/* Layout Widge */
#mainBody
{
    padding:0;
}
.topBand{
    height:112px;
}
.botBand
{
    position:relative;
    bottom:0;
}
.middleBand
{
    padding: 10px;
}
.topbandcols
{
    float:left;
}
#topbandleft
{
    background-image:url('images/headerLeft.png');
    background-repeat:no-repeat;
    height:112px;
}
#topbandright
{
    background-image:url('images/headerRight.png');
    background-repeat:repeat-x;
    height:112px;
}
.bottomcol
{
    float:left;
    height:30px;
}
#bottomcol1
{
    background-color:#bde76b;
}
#bottomcol2
{
    background-color:#7ca62a;
}
#bottomcol3
{
    background-color:#538610;
}
#bottomcol4
{
    background-color:#f7ba00;
}
#bottomcol5
{
    background-color:#f3ca3e;
}
#bottomcol6
{
    background-color:#f3ca3e;
}
/* Nav buttons */
#backnextholder
{
    position:relative;
}
.bottomnavholder
{
    position:absolute;
    right:15px;
    top:-30px;
}
.roundbutton
{
    width:46px;
    height:46px;
    cursor:pointer;
    &[disabled]
    {
        cursor:default;
        opacity:0.6;
    }
}
#btnPrevious
{
    .roundbutton;
    background-image:url('images/back.png');
    float:left;
    
}
#btnNext
{
    .roundbutton;
    background-image:url('images/next.png');
    float:left;
    margin-left:20px;
    
}
/* Audio */
#btnAudio
{
    width:26px;
    height:26px;
    background-image:url('images/audio_icon.png');
    margin:2px 0 0 2px;
}
#txtAudioText
{
    color:white;
    text-align:center;
    margin:5px 0 0 0;
}
/* titles */
#moduleNameHolder
{
    margin-top:35px;
    color:rgb(240, 245, 250);
    
}
#moduleName
{
    font-size:27px;
}
#pageName
{
    font-size:16px;
}
/* menu button */
#btnMenu
{
    &>div
    {
        float:left;
    }

    & .menuicon
    {
        width:32px;
        height:28px;
        background-image:url('images/menu_icon.png');
        margin:1px 6px 0 2px;
    }

    & .menutext
    {
        color:white;
        text-align:center;
        margin:5px 0 0 0;
    }
}
/* Content */
.bold-text
{
    font-weight:bold;
}
.italic-text
{
    font-style:italic;
}
.gutter10
{
    padding:10px;
}
.gutter10-t
{
    padding-top:10px;
}
